<h1><%= @restaurant.name %></h1>
<p> <%= @restaurant.category %> </p>
<p>====================</p>

<h4>Address: <%= @restaurant.address %></h4>
<h4>Number: <%= @restaurant.phone_number %></h4>

<p>====================</p>

<%= link_to 'Back to List', restaurants_path %>
